<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 20px;
        }

        .header {
            background-color: #D70F64;
            padding: 10px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            margin: 0;
        }

        h2 {
            color: #D70F64;
        }

        .header h1 {
            font-size: 20px;
        }

        form {
            margin-top: 20px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            background-color: #D70F64;
            color: #fff;
            padding: 8px 12px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<h1>Attendance Taking Application</h1>

{{if .StudentID}}
<div class="header">
  <h1>Welcome {{.Name}}</h1>
  <a href="/logout">Logout</a>
</div>
<form action="/submit" method="post">
    <button type="submit">Submit Attendance</button>
</form>
{{else}}
<h2><a href="/login">Login to continue.</a></h2>
{{end}}

</body>
</html>